# <span style="color:#ff884d">Pandas Exercise - Full Solution</span>

In [27]:
import pandas as pd
import numpy as np

<b> 1. Import from an excel file.
First, define the <span style="color:blue">path</span> of the folder where the file is stored. </b>
<br>Or, if the file is placed at the same folder as code, you can ommit the full path and just use the file name: <br>
df = pd.read_excel('ex11_FLU09_data.xlsx', ...)

In [28]:
path = 'C:/Users/liel-/Dropbox/PyCharm/PycharmProjectsNew/Python-classes/'

df = pd.read_excel(path + 'example_data_FLU09.xlsx',
                   sheet_name='FLU09 plasma',
                   index_col='ID')

# from csv - pd.read_csv(...)
# from tsv - pd.read_csv(..., delimiter='\t')

<b>2. Lets view our dataframe</b>

In [29]:
df.head()

,Age_months,Gender,Influenza_test_result_positive,EGF,FKN,GRO,IFNγ,IL1α,IL2,IL4,...,IL9,IL10,IP10,MCP1,MCP3,MDC,MIP1α,TGFα,TNFα,TNFβ
ID,,,,,,,,,,,,,,,,,,,,,
3200,180.903360,Female,False,5.24,20.86,98.41,9.97,2.24,0.95,1.86,...,3.04,2.53,539.44,199.33,9.66,775.28,3.01,1.39,15.25,2.09
3201,18.033333,Male,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3202,44.933333,Male,True,179.16,49.11,1019.90,8.36,17.34,1.49,1.94,...,2.26,31.87,3560.13,2737.32,67.07,1158.00,171.51,3.61,15.93,1.61
3203,156.633333,Female,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3204,79.600000,Female,False,191.72,33.36,2038.28,7.36,0.13,0.45,2.53,...,0.33,0.09,225.61,159.52,6.66,1867.52,8.43,2.36,4.91,0.53

What columns does it have?

In [30]:
df.columns

Index(['Age_months', 'Gender', 'Influenza_test_result_positive', 'EGF', 'FKN',
       'GRO', 'IFNγ', 'IL1α', 'IL2', 'IL4', 'IL5', 'IL6', 'IL8', 'IL9', 'IL10',
       'IP10', 'MCP1', 'MCP3', 'MDC', 'MIP1α', 'TGFα', 'TNFα', 'TNFβ'],
      dtype='object')

<b>3. Are the df indices unique?</b> <span style="color:#ff884d">(instructor example)</span>

In [31]:
df.index.is_unique

True

<b>4. How many subjects are there?</b>

In [32]:
df.shape[0]

308

 <b><span style="color:purple">We were told we are</span> <span style="color:red">not</span> <span style="color:purple"> allowed to use data of subjects 3200, 3388!</span>
<br><br>5. First, let's view the relevant rows. </b>

In [33]:
df.loc[[3200,3388]]  # or df.loc[[3200,3388], :]

,Age_months,Gender,Influenza_test_result_positive,EGF,FKN,GRO,IFNγ,IL1α,IL2,IL4,...,IL9,IL10,IP10,MCP1,MCP3,MDC,MIP1α,TGFα,TNFα,TNFβ
ID,,,,,,,,,,,,,,,,,,,,,
3200,180.903360,Female,False,5.24,20.86,98.41,9.97,2.24,0.95,1.86,...,3.04,2.53,539.44,199.33,9.66,775.28,3.01,1.39,15.25,2.09
3388,347.433333,Male,False,2.94,3.27,2.50,17.49,1.52,1.25,1.94,...,2.26,1.02,52.08,145.63,3.23,868.51,2.66,0.39,0.88,1.61

 <b>6. Now, let's delete them </b>

In [34]:
df.drop(index=[3200, 3388], inplace=True)

Make sure they were properly deleted. How? (try at least 2 ways!)

In [35]:
print(df.shape[0])

306

In [36]:
# df.loc[[3200,3388]] # looks for 3200 in the index



print(3201 in df.index)

print(3200 in df.index)
print(3388 in df.index)

True
False
False

<b>7. For subjects 3202, 3235, 3236, the ‘IL2’ values in the table are invalid. Change their values to the maximal value in the 'IL2' column.</b>
<br><br>a. First, what are these subjects' IL2 values?

In [37]:
df.loc[[3202, 3235, 3236], 'IL2']

ID
3202    1.49
3235    1.25
3236    1.25
Name: IL2, dtype: float64

b. What is the max IL2 value?

In [38]:
df['IL2'].max()

67.1

c. Now, change the values in the dataframe.

In [39]:
df.loc[[3202, 3235, 3236], 'IL2'] = df['IL2'].max()

d. Make sure the values were properly changed.

In [40]:
df.loc[[3202, 3235, 3236], 'IL2']

ID
3202    67.1
3235    67.1
3236    67.1
Name: IL2, dtype: float64

 <b>8. Add column <i>'Age'</i> (in years), & delete old column <i>'Age_months'</i></b>

In [41]:
df['Age'] = df['Age_months'] / 12
df.drop(columns=['Age_months'], inplace=True)

View the dataframe to see the change

In [42]:
df.head()

,Gender,Influenza_test_result_positive,EGF,FKN,GRO,IFNγ,IL1α,IL2,IL4,IL5,...,IL10,IP10,MCP1,MCP3,MDC,MIP1α,TGFα,TNFα,TNFβ,Age
ID,,,,,,,,,,,,,,,,,,,,,
3201,Male,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.502778
3202,Male,True,179.16,49.11,1019.90,8.36,17.34,67.10,1.94,0.66,...,31.87,3560.13,2737.32,67.07,1158.00,171.51,3.61,15.93,1.61,3.744444
3203,Female,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.052778
3204,Female,False,191.72,33.36,2038.28,7.36,0.13,0.45,2.53,0.50,...,0.09,225.61,159.52,6.66,1867.52,8.43,2.36,4.91,0.53,6.633333
3205,Female,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.158333

How can we change the order of the columns? <span style="color:#ff884d">(instructor example)</span>

In [43]:
df.columns

Index(['Gender', 'Influenza_test_result_positive', 'EGF', 'FKN', 'GRO', 'IFNγ',
       'IL1α', 'IL2', 'IL4', 'IL5', 'IL6', 'IL8', 'IL9', 'IL10', 'IP10',
       'MCP1', 'MCP3', 'MDC', 'MIP1α', 'TGFα', 'TNFα', 'TNFβ', 'Age'],
      dtype='object')

In [44]:
new_cols_order = ['Age', 'Gender', 'Influenza_test_result_positive', 'EGF', 'FKN', 'GRO', 'IFNγ',
       'IL1α', 'IL2', 'IL4', 'IL5', 'IL6', 'IL8', 'IL9', 'IL10', 'IP10',
       'MCP1', 'MCP3', 'MDC', 'MIP1α', 'TGFα', 'TNFα', 'TNFβ' ]
new_cols_order

['Age',
 'Gender',
 'Influenza_test_result_positive',
 'EGF',
 'FKN',
 'GRO',
 'IFNγ',
 'IL1α',
 'IL2',
 'IL4',
 'IL5',
 'IL6',
 'IL8',
 'IL9',
 'IL10',
 'IP10',
 'MCP1',
 'MCP3',
 'MDC',
 'MIP1α',
 'TGFα',
 'TNFα',
 'TNFβ']

In [45]:
cols = list(df.columns)
new_cols_order = cols[-1:] + cols[:-1]
new_cols_order

['Age',
 'Gender',
 'Influenza_test_result_positive',
 'EGF',
 'FKN',
 'GRO',
 'IFNγ',
 'IL1α',
 'IL2',
 'IL4',
 'IL5',
 'IL6',
 'IL8',
 'IL9',
 'IL10',
 'IP10',
 'MCP1',
 'MCP3',
 'MDC',
 'MIP1α',
 'TGFα',
 'TNFα',
 'TNFβ']

In [46]:
df.columns[-1:] + df.columns[:-1]

Index(['AgeGender', 'AgeInfluenza_test_result_positive', 'AgeEGF', 'AgeFKN',
       'AgeGRO', 'AgeIFNγ', 'AgeIL1α', 'AgeIL2', 'AgeIL4', 'AgeIL5', 'AgeIL6',
       'AgeIL8', 'AgeIL9', 'AgeIL10', 'AgeIP10', 'AgeMCP1', 'AgeMCP3',
       'AgeMDC', 'AgeMIP1α', 'AgeTGFα', 'AgeTNFα', 'AgeTNFβ'],
      dtype='object')

In [47]:
df = df[new_cols_order]
df.head()

,Age,Gender,Influenza_test_result_positive,EGF,FKN,GRO,IFNγ,IL1α,IL2,IL4,...,IL9,IL10,IP10,MCP1,MCP3,MDC,MIP1α,TGFα,TNFα,TNFβ
ID,,,,,,,,,,,,,,,,,,,,,
3201,1.502778,Male,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3202,3.744444,Male,True,179.16,49.11,1019.90,8.36,17.34,67.10,1.94,...,2.26,31.87,3560.13,2737.32,67.07,1158.00,171.51,3.61,15.93,1.61
3203,13.052778,Female,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3204,6.633333,Female,False,191.72,33.36,2038.28,7.36,0.13,0.45,2.53,...,0.33,0.09,225.61,159.52,6.66,1867.52,8.43,2.36,4.91,0.53
3205,1.158333,Female,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

 <b>9. Rename column 'Influenza_test_result_positive' to 'Flu_positive'</b>

In [48]:
df = df.rename(columns={'Influenza_test_result_positive': 'Flu_positive'}) 
# df = df.rename({'Influenza_test_result_positive': 'Flu_positive'}, axis=1) # same

<b> 10. Add suffix '_Plasma' to all cytokine column names. </b>
<br> Later, you will have to execute operations over all cytokine columns again. So, think of an efficient way to solve this question that will help you later as well, i.e., that will enable you to extract a list of all cytokine columns easily again.
<br> *You can use a loop for this

In [49]:
df.columns

Index(['Age', 'Gender', 'Flu_positive', 'EGF', 'FKN', 'GRO', 'IFNγ', 'IL1α',
       'IL2', 'IL4', 'IL5', 'IL6', 'IL8', 'IL9', 'IL10', 'IP10', 'MCP1',
       'MCP3', 'MDC', 'MIP1α', 'TGFα', 'TNFα', 'TNFβ'],
      dtype='object')

In [60]:
# Let's create a dict of all cytokine original col names (keys) + new names (vals).
cy_cols_new_names = {}

for name in df.columns:
    if name not in ['Gender', 'Flu_positive', 'Age']:
        cy_cols_new_names[name] = name + '_Plasma'

cy_cols_new_names

{'EGF': 'EGF_Plasma',
 'FKN': 'FKN_Plasma',
 'GRO': 'GRO_Plasma',
 'IFNγ': 'IFNγ_Plasma',
 'IL1α': 'IL1α_Plasma',
 'IL2': 'IL2_Plasma',
 'IL4': 'IL4_Plasma',
 'IL5': 'IL5_Plasma',
 'IL6': 'IL6_Plasma',
 'IL8': 'IL8_Plasma',
 'IL9': 'IL9_Plasma',
 'IL10': 'IL10_Plasma',
 'IP10': 'IP10_Plasma',
 'MCP1': 'MCP1_Plasma',
 'MCP3': 'MCP3_Plasma',
 'MDC': 'MDC_Plasma',
 'MIP1α': 'MIP1α_Plasma',
 'TGFα': 'TGFα_Plasma',
 'TNFα': 'TNFα_Plasma',
 'TNFβ': 'TNFβ_Plasma'}

In [61]:
# Change the names
df.rename(columns=cy_cols_new_names, inplace=True)

df.columns

Index(['Age', 'Gender', 'Flu_positive', 'EGF_Plasma', 'FKN_Plasma',
       'GRO_Plasma', 'IFNγ_Plasma', 'IL1α_Plasma', 'IL2_Plasma', 'IL4_Plasma',
       'IL5_Plasma', 'IL6_Plasma', 'IL8_Plasma', 'IL9_Plasma', 'IL10_Plasma',
       'IP10_Plasma', 'MCP1_Plasma', 'MCP3_Plasma', 'MDC_Plasma',
       'MIP1α_Plasma', 'TGFα_Plasma', 'TNFα_Plasma', 'TNFβ_Plasma'],
      dtype='object')

<b> 11. Assign the 'Gender' column value counts to a new variable named <span style="color:brown">df_gender_count</span>.
</b>

In [62]:
df_gender_count = df['Gender'].value_counts()
df_gender_count

Female    193
Male      113
Name: Gender, dtype: int64

<b>12. Now, using <span style="color:brown">df_gender_count</span>, calculate the percentage of females out of all patients in df (result is a float between 0-100).

In [63]:
df_females_per  = 100 * df_gender_count['Female'] / df_gender_count.sum()
df_females_per

63.071895424836605

## <span style="color:green">Manipulating values using numpy</span>

<b>13. Create <span style="color:brown">df_log</span> - a copy of df in which all cytokine columns are log transformed (using the np.log10 function) </b><br>

In [64]:
col_names_cy = list(cy_cols_new_names.values())

df_log = df.copy() # if we'd do df_log = df, df_log will just point to df!
df_log[col_names_cy] = np.log10(df[col_names_cy])

Make sure the transformation was done correctly!

In [66]:
print('df_log:',        df_log.loc[3202, 'EGF_Plasma'])
print('np.log10(df):',     np.log10(df.loc[3202, 'EGF_Plasma']))

print('Are equal:', df_log.loc[3202, 'EGF_Plasma'] == np.log10(df.loc[3202, 'EGF_Plasma']))

# numpy assertion
np.allclose(np.log10(df[col_names_cy]),
            df_log[col_names_cy],
            equal_nan=True)

df_log: 2.2532410537726504
np.log10(df): 2.2532410537726504
Are equal: True

True

<b> 14. Using join, add to <span style="color:brown">df</span>, all the log transformed cytokine columns from <span style="color:brown">df_log</span></b>

In [67]:
df = df.join(df_log[col_names_cy], rsuffix='_log')

df.columns

Index(['Age', 'Gender', 'Flu_positive', 'EGF_Plasma', 'FKN_Plasma',
       'GRO_Plasma', 'IFNγ_Plasma', 'IL1α_Plasma', 'IL2_Plasma', 'IL4_Plasma',
       'IL5_Plasma', 'IL6_Plasma', 'IL8_Plasma', 'IL9_Plasma', 'IL10_Plasma',
       'IP10_Plasma', 'MCP1_Plasma', 'MCP3_Plasma', 'MDC_Plasma',
       'MIP1α_Plasma', 'TGFα_Plasma', 'TNFα_Plasma', 'TNFβ_Plasma',
       'EGF_Plasma_log', 'FKN_Plasma_log', 'GRO_Plasma_log', 'IFNγ_Plasma_log',
       'IL1α_Plasma_log', 'IL2_Plasma_log', 'IL4_Plasma_log', 'IL5_Plasma_log',
       'IL6_Plasma_log', 'IL8_Plasma_log', 'IL9_Plasma_log', 'IL10_Plasma_log',
       'IP10_Plasma_log', 'MCP1_Plasma_log', 'MCP3_Plasma_log',
       'MDC_Plasma_log', 'MIP1α_Plasma_log', 'TGFα_Plasma_log',
       'TNFα_Plasma_log', 'TNFβ_Plasma_log'],
      dtype='object')

## <span style="color:green">Analyzing a subset of rows using condition</span>

<b>15. We were asked to analyze a subset of <span style="color:brown">df</span> rows - female patients only.<br>
First, create a series of booleans using the condition, i.e., a filter. </b>

In [68]:
df['Gender'].unique() # see which values the column has

array(['Male', 'Female'], dtype=object)

In [69]:
ind_female = df['Gender'] == 'Female'

ind_female.head()

ID
3201    False
3202    False
3203     True
3204     True
3205     True
Name: Gender, dtype: bool

<b>16. Get the 'Flu_positive' value counts, of the female patients only.</b>

In [70]:
df.loc[ind_female, 'Flu_positive'].value_counts()

False    106
True      87
Name: Flu_positive, dtype: int64

<b>17. Get a list of the the female patients row labels </b>

In [71]:
labels_female = df.loc[ind_female].index

labels_female

Int64Index([3203, 3204, 3205, 3206, 3209, 3211, 3212, 3213, 3214, 3215,
            ...
            3491, 3492, 3494, 3495, 3497, 3498, 3501, 3502, 3505, 3506],
           dtype='int64', name='ID', length=193)

In [72]:
labels_female = df.index[ind_female]

labels_female

Int64Index([3203, 3204, 3205, 3206, 3209, 3211, 3212, 3213, 3214, 3215,
            ...
            3491, 3492, 3494, 3495, 3497, 3498, 3501, 3502, 3505, 3506],
           dtype='int64', name='ID', length=193)

<b>18. Create a new dataframe named <span style="color:brown">df_females</span>, which contains only female patients from <span style="color:brown">df</span>. </b>

In [73]:
df_females = df.loc[ind_female]
df_females.head()

,Age,Gender,Flu_positive,EGF_Plasma,FKN_Plasma,GRO_Plasma,IFNγ_Plasma,IL1α_Plasma,IL2_Plasma,IL4_Plasma,...,IL9_Plasma_log,IL10_Plasma_log,IP10_Plasma_log,MCP1_Plasma_log,MCP3_Plasma_log,MDC_Plasma_log,MIP1α_Plasma_log,TGFα_Plasma_log,TNFα_Plasma_log,TNFβ_Plasma_log
ID,,,,,,,,,,,,,,,,,,,,,
3203,13.052778,Female,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3204,6.633333,Female,False,191.72,33.36,2038.28,7.36,0.13,0.45,2.53,...,-0.481486,-1.045757,2.353358,2.202815,0.823474,3.271265,0.925828,0.372912,0.691081,-0.275724
3205,1.158333,Female,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3206,19.052778,Female,True,132.00,128.00,4132.00,13.54,49.02,3.48,3.13,...,-1.000000,1.238046,3.053078,2.478566,1.374565,3.056524,2.318063,1.384891,1.151063,-0.229148
3209,19.222222,Female,False,12.91,2.62,149.67,63.64,10.52,1.25,1.94,...,0.354108,0.008600,1.593729,1.994581,0.850646,2.984622,1.690905,0.278754,-0.167491,0.206826

<b>19. What is the mean 'IP10_Plasma' of the female flu positive subjects?</b>

In [77]:
df_females.loc[df_females['Flu_positive'], 'IP10_Plasma'].mean()

1567.547818181818

<b>20. What is the mean 'IP10_Plasma' of of the female flu negative subjects?</b>

In [ ]:
df_females.loc[~df_females['Flu_positive'], 'IP10_Plasma'].mean()

<b>21. In <span style="color:brown">df</span>, change 'Flu_positive' column values: <br>          True -> 1, False -> 0 </b>
<br><span style="color:#ff884d">(instructor example)</span>

In [ ]:
df['Flu_positive'].unique()

In [78]:
df['Flu_positive'] = df['Flu_positive'].map({True: 1, False: 0}) # map - only for series

df.head()

,Age,Gender,Flu_positive,EGF_Plasma,FKN_Plasma,GRO_Plasma,IFNγ_Plasma,IL1α_Plasma,IL2_Plasma,IL4_Plasma,...,IL9_Plasma_log,IL10_Plasma_log,IP10_Plasma_log,MCP1_Plasma_log,MCP3_Plasma_log,MDC_Plasma_log,MIP1α_Plasma_log,TGFα_Plasma_log,TNFα_Plasma_log,TNFβ_Plasma_log
ID,,,,,,,,,,,,,,,,,,,,,
3201,1.502778,Male,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3202,3.744444,Male,1,179.16,49.11,1019.90,8.36,17.34,67.10,1.94,...,0.354108,1.503382,3.551466,3.437326,1.826528,3.063709,2.234289,0.557507,1.202216,0.206826
3203,13.052778,Female,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3204,6.633333,Female,0,191.72,33.36,2038.28,7.36,0.13,0.45,2.53,...,-0.481486,-1.045757,2.353358,2.202815,0.823474,3.271265,0.925828,0.372912,0.691081,-0.275724
3205,1.158333,Female,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## <span style="color:green">Applying complicated functions</span> <span style="color:#ff884d">(instructor examples)</span>

<b>22. Defining a function, and applying it over a column (or several columns)</b>

In [ ]:
def inverse(num):
    return 1/num

In [ ]:
df['EGF_Plasma'].apply(inverse)

In [ ]:
df['1/EGF'] = df['EGF_Plasma'].apply(inverse)

In [ ]:
df[['EGF_Plasma', '1/EGF']].head()

<b>23. Defining a function using lambda</b>

In [ ]:
inverse_2 = lambda num: 1/num

In [ ]:
print(inverse(3))
print(inverse_2(3))

In [ ]:
df['1/EGF_2'] = df['EGF_Plasma'].apply(lambda value: 1/value)

In [ ]:
df[['EGF_Plasma', '1/EGF_2']].head()

In [ ]:
def power(num, maarih=2):
    return num**maarih

power(3, maarih=3)

In [ ]:
df['EGF_Plasma'].apply(power, maarih=3)

<b>24. lambda with if-else </b>

In [ ]:
# value = -20
# if value > 50:
#     print(50)
# else:
#     print(value)

# 50 if value > 50 or value < -10 else value

50 if value > 50 else

50 if value > 50 else (-100 if value < -10 else value)

In [ ]:
df['EGF_trimmed_50'] = df['EGF_Plasma'].apply(lambda value: 50 if value > 50 else value)

df[['EGF_Plasma', 'EGF_trimmed_50']].head(10)

<b>25. lambda with string operations </b>

In [ ]:
df['Gender'].apply(lambda string: string[0].lower() + string[1:])

<b>26. Apply a complicated function, that depends on different columns values</b>

In [ ]:
df.head()

In [ ]:
df.iloc[0]

In [ ]:
def EGF_adjust_by_gender_age(row):
    ''' Normally, dont forget writing docstrings! '''
    
    if row['Gender'] == 'Female':
        result = row['EGF_Plasma'] / row['Age']
    else:
        result = (1 + row['EGF_Plasma']) / (0.7 * row['Age'])

    return round(result, 4)

df['EGF_adjusted'] = df.apply(EGF_adjust_by_gender_age, axis=1)

df[['Gender', 'Age', 'EGF_Plasma', 'EGF_adjusted']].head()

## Try it yourself...

<b>27. Apply the np.sqrt() function over columns 'FKN_Plasma', 'GRO_Plasma' and 'IL2_Plasma'</b>

In [ ]:
df[['FKN_Plasma', 'GRO_Plasma', 'IL2_Plasma']].apply(np.sqrt)

<b>28. Write a new function that takes a single value x, and calculates: x*x/100. <br>
    Apply it over the column 'MCP1_Plasma'.</b><br>
    Solve this using a function defined with 'def', and then with 'lambda'!

In [ ]:
def my_func(num):
    return num*num/100

df['MCP1_Plasma'].apply(my_func)

In [ ]:
df['MCP1_Plasma'].apply(lambda num: num*num/100)

## <span style="color:green">Saving to file</span>

<b>29. Save a dataframe to an excel / csv file</b>

In [ ]:
df_log.to_csv(path + 'df_log_21_06_03.csv')

df_log.to_excel(path + 'df_log_21_06_03.xlsx')