# <span style="color:#ff884d">Pandas Exercise</span>

In [1]:
import pandas as pd
import numpy as np

<b> 1. Import from an excel file.
First, define the <span style="color:blue">path</span> of the folder where the file is stored. </b>
<br>Or, if the file is placed at the same folder as code, you can ommit the full path and just use the file name: <br>
df = pd.read_excel('ex11_FLU09_data.xlsx', ...)

In [2]:
path = 'C:/Users/liel-/Dropbox/PyCharm/PycharmProjectsNew/Python-classes/'

df = pd.read_excel(path + 'example_data_FLU09.xlsx',
                   sheet_name='FLU09 plasma',
                   index_col='ID')

# from csv - pd.read_csv(...)
# from tsv - pd.read_csv(..., delimiter='\t')

<b>2. Lets view our dataframe</b>

What columns does it have?

<b>3. Are the df indices unique?</b> <span style="color:#ff884d">(instructor example)</span>

In [5]:
df.index.is_unique

True

<b>4. How many subjects are there?</b>

 <b><span style="color:purple">We were told we are</span> <span style="color:red">not</span> <span style="color:purple"> allowed to use data of subjects 3200, 3388!</span>
<br><br>5. First, let's view the relevant rows. </b>

 <b>6. Now, let's delete them </b>

Make sure they were properly deleted. How? (at least 2 ways)

<b>7. For subjects 3202, 3235, 3236, the ‘IL2’ values in the table are invalid. Change their values to the maximal value in the 'IL2' column.</b>
<br><br>a. First, what are these subjects' IL2 values?

b. What is the max IL2 value?

c. Now, change the values in the dataframe.

d. Make sure the values were properly changed.

 <b>8. Add column <i>'Age'</i> (in years), & delete old column <i>'Age_months'</i></b>

View the dataframe to see the change

How can we change the order of the columns? <span style="color:#ff884d">(instructor example)</span>

 <b>9. Rename column 'Influenza_test_result_positive' to 'Flu_positive'</b>

<b> 10. Add suffix '_Plasma' to all cytokine column names. </b>
<br> Later, you will have to execute operations over all cytokine columns again. So, think of an efficient way to solve this question that will help you later as well, i.e., that will enable you to extract a list of all cytokine columns easily again.
<br> *You can use a loop for this

In [1]:
# Change the names

<b> 11. Assign the 'Gender' column value counts to a new variable named <span style="color:brown">df_gender_count</span>.
</b>

<b>12. Now, using <span style="color:brown">df_gender_count</span>, calculate the percentage of females out of all patients in df (result is a float between 0-100).

## <span style="color:green">Manipulating values using numpy</span>

<b>13. Create <span style="color:brown">df_log</span> - a copy of df in which all cytokine columns are log transformed (using the <span style="color:purple">np.log10</span>  function) </b><br>

Make sure the transformation was done correctly!

<b> 14. Using join, add to <span style="color:brown">df</span>, all the log transformed cytokine columns from <span style="color:brown">df_log</span></b>

## <span style="color:green">Analyzing a subset of rows using condition</span>

<b>15. We were asked to analyze a subset of <span style="color:brown">df</span> rows - female patients only.<br>
First, create a series of booleans using the condition, i.e., a filter. </b>

In [30]:
df['Gender'].unique() # see which values the column has

array(['Male', 'Female'], dtype=object)

<b>16. Get the 'Flu_positive' value counts, of the female patients only.</b>

<b>17. Get a list of the the female patients row labels </b>

<b>18. Create a new dataframe named <span style="color:brown">df_females</span>, which contains only female patients from <span style="color:brown">df</span>. </b><br> Is the dataframe you created, a view or a copy of <span style="color:brown">df</span>?

<b>19. What is the mean 'IP10_Plasma' of the female flu positive subjects?</b>

<b>20. What is the mean 'IP10_Plasma' of the female flu negative subjects?</b>

<b>21. In <span style="color:brown">df</span>, change 'Flu_positive' column values: <br>          True -> 1, False -> 0 </b>
<br><span style="color:#ff884d">(instructor example)</span>

In [37]:
df['Flu_positive'].unique()

array([ True, False])

## <span style="color:green">Applying complicated functions</span> <span style="color:#ff884d">(instructor examples)</span>

<b>22. Defining a function, and applying it over a column (or several columns)</b>

In [39]:
def inverse(num):
    return 1/num

df['1/EGF'] = df['EGF_Plasma'].apply(inverse)

In [40]:
df[['EGF_Plasma', '1/EGF']].head()

      EGF_Plasma     1/EGF
ID
3201         NaN       NaN
3202      179.16  0.005582
3203         NaN       NaN
3204      191.72  0.005216
3205         NaN       NaN

<b>23. Defining a function using lambda</b>

In [41]:
inverse_2 = lambda num: 1/num

In [42]:
print(inverse(3))
print(inverse_2(3))

0.3333333333333333
0.3333333333333333

In [43]:
df['1/EGF_2'] = df['EGF_Plasma'].apply(lambda value: 1/value)

In [44]:
df[['EGF_Plasma', '1/EGF_2']].head()

      EGF_Plasma   1/EGF_2
ID
3201         NaN       NaN
3202      179.16  0.005582
3203         NaN       NaN
3204      191.72  0.005216
3205         NaN       NaN

<b>24. lambda with if-else </b>

In [45]:
df['EGF_trimmed_50'] = df['EGF_Plasma'].apply(lambda value: 50 if value > 50 else value)

df[['EGF_Plasma', 'EGF_trimmed_50']].head(10)

      EGF_Plasma  EGF_trimmed_50
ID
3201         NaN             NaN
3202      179.16           50.00
3203         NaN             NaN
3204      191.72           50.00
3205         NaN             NaN
3206      132.00           50.00
3207         NaN             NaN
3208         NaN             NaN
3209       12.91           12.91
3210       44.79           44.79

<b>25. lambda with string operations </b>

In [46]:
df['Gender'].apply(lambda string: string[0].lower())

ID
3201    m
3202    m
3203    f
3204    f
3205    f
3206    f
3207    m
3208    m
3209    f
3210    m
3211    f
3212    f
3213    f
3214    f
3215    f
3216    f
3217    f
3218    f
3219    m
3220    f
3221    f
3222    m
3223    f
3224    m
3225    m
3226    f
3227    f
3228    m
3229    f
3230    m
       ..
3478    m
3479    m
3480    m
3481    f
3482    f
3483    f
3484    f
3485    f
3486    f
3487    f
3488    m
3489    f
3490    f
3491    f
3492    f
3493    m
3494    f
3495    f
3496    m
3497    f
3498    f
3499    m
3500    m
3501    f
3502    f
3503    m
3504    m
3505    f
3506    f
3507    m
Name: Gender, Length: 306, dtype: object

<b>26. Apply a complicated function, that depends on different columns values</b>

In [48]:
def EGF_adjust_by_gender_age(row):
    ''' Normally, dont forget writing docstrings! '''
    
    if row['Gender'] == 'Female':
        result = row['EGF_Plasma'] / row['Age']
    else:
        result = (1 + row['EGF_Plasma']) / (0.7 * row['Age'])

    return round(result, 4)

df['EGF_adjusted'] = df.apply(EGF_adjust_by_gender_age, axis=1)

df[['Gender', 'Age', 'EGF_Plasma', 'EGF_adjusted']].head()

      Gender        Age  EGF_Plasma  EGF_adjusted
ID
3201    Male   1.502778         NaN           NaN
3202    Male   3.744444      179.16       68.7342
3203  Female  13.052778         NaN           NaN
3204  Female   6.633333      191.72       28.9025
3205  Female   1.158333         NaN           NaN

## Try it yourself...

<b>27. Apply the np.sqrt() function over columns 'FKN_Plasma', 'GRO_Plasma' and 'IL2_Plasma'</b>

<b>28. Write a new function that takes a single value x, and calculates: x*x/100. <br>
    Apply it over the column 'MCP1_Plasma'.</b><br>
    Solve this using a function defined with 'def', and then with 'lambda'!

## <span style="color:green">Saving to file</span>

<b>29. Save a dataframe to an excel / csv file</b>

In [52]:
df_log.to_csv(path + 'df_log_21_06_03.csv')

df_log.to_excel(path + 'df_log_21_06_03.xlsx')